.heroContainer{
  display: flex;
  padding: 30px 0px;
  justify-content: space-around;
  align-items: center;
}



.h1{
  text-align: center;
}

.toolsContainer{
  padding: 30px;
}

.wrapper{
  display:grid;
  grid-template-columns: auto auto ;
  gap:20px;
  justify-content: center;
  margin: 0 auto;
}